mixin info-item(info)
      li.mb-2 
        i.fa-2x(class=info.fa)
        if info.href
          a(href=info.href target="_blank") #{info.value}
        else 
          =info.value

mixin content-list(item)
  li
    if item.link
      a(href=item.link target="_blank") #{item.title}
    else 
      =item.title 
    if item.skills
      |  (
      each content, index in item.skills
        b= content
        if index != item.skills.length - 1
          =' , '  
      |)

mixin content-item(item)
  .content
    .icon
      if item.logo
        img.logo(src=item.logo alt=item.secondary)
    .body
      .flex
        h2.flex-50
          i(class="fa fa-briefcase mr-2 mb-1 fa-icon")
          =item.title 
        .info.flex-50
          p
            i(class="fa fa-map-marker-alt mr-2 mb-1 fa-icon")
            span.colorized= item.location
          p
            i(class="fa fa-calendar-alt mr-2 mb-1 fa-icon")
            = item.year
      if item.secondary
        h3.secondary= item.secondary
      h3.uppercase= item.type
      ul.no-start
        each mission in item.list
          +content-list(mission)
      if item.stack 
        .block.stack
          b= "Stack: "
          each tech, index in item.stack
            if $t.logos[`${tech}`]
              img.logo(class="logo-tech", src=$t.logos[`${tech}`])
            span= tech
            if index != item.stack.length - 1
              =' , '

mixin education-item(item)
  .content-aside
    //- .icon
    //-   if item.logo
    //-     img.logo(src=item.logo alt=item.secondary)
    .body
      h2
        i(class="fa fa-university mr-2 mb-1 fa-icon")
        =item.title
      .info
        p
          i(class="fa fa-map-marker-alt mr-2 mb-1 fa-icon")
          span.colorized= item.location
        p
          i(class="fa fa-calendar-alt mr-2 mb-1 fa-icon")
          = item.year
      if item.secondary
        h3.secondary= item.secondary
      h3.uppercase= item.type
      //- .flex-list-education
      //-   ul
      //-     each educ in item.list
      //-       +content-list(educ)
    

mixin project-item(item)
  if item.link
    h3.project_date.block
      a(href= item.link target="_blank") #{item.title}
  else
    h3.project_date.block= item.date
  div.project_desc.block
    p= item.desc
      if item.link
        a(href=item.link target="_blank")
          i.fa-icon.ml-2(class=item.fa)
    //- h3.secondary= item.desc

mixin misc-item(item)
  p.flex.content
    b.flex-1= item.title
    span.flex-3= item.desc
      if item.link
        a(href=item.link target="_blank")
          i.fa-icon.ml-2(class=item.fa)

mixin publication-item(item)
  .flex
    p= item.title
    p.secondary.block= item.secondary
    //- h3.right.block= item.code
    //- .info
    //-   p= item.date