mixin info-item(info)
      li 
        i(class=info.fa)
        if info.href
          a(href=info.href target="_blank") #{info.value}
        else 
          =info.value

mixin content-list(item)
  li
    if item.link
      a(href=item.link target="_blank") #{item.title}
    else 
      =item.title 
    if item.skills
      |  (
      each content, index in item.skills
        b= content
        if index != item.skills.length - 1
          =' , '  
      |)

mixin content-item(item)
  .content
    .body
      h2= item.title 
      if item.secondary
        h3.secondary= item.secondary
      h3.uppercase= item.type
      ul 
        each mission in item.list
          +content-list(mission)
      if item.stack 
        .block.stack
          b= "Stack: "
          each tech, index in item.stack
            span= tech
            if index != item.stack.length - 1
              =' , '
    .info
      p.colorized= item.location
      p= item.year
      //- img.logo(src=item.logo alt=item.secondary)

mixin education-item(item)
  .content
    .body
      h2= item.title
      if item.secondary
        h3.secondary= item.secondary
      h3.uppercase= item.type
      .flex-list-education
        ul
          each educ in item.list
            +content-list(educ)
    .info
      p.colorized= item.location
      p= item.year
    

mixin project-item(item)
  if item.link
    h2.project_date.block
      a(href= item.link target="_blank") #{item.title}
  else
    h2.project_date.block= item.date
  div.project_desc.block
    p= item.desc
      if item.link
        a(href=item.link target="_blank")
          i(class=item.fa)
    //- h3.secondary= item.desc

mixin misc-item(item)
  p
    b= item.title
    |: #{item.desc}

mixin publication-item(item)
  .content
    .content
      h3= item.title
      h3.secondary.block= item.secondary
      h3.right.block= item.code
    .info
      p= item.date